/*-----Adam Demol 2022-----*/
:root {
  line-height: 1.5;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* { margin: 0px; padding: 0px; border: 0px; box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { scroll-behavior: smooth; }

body {
  background-color: #1e2225;
  color: #eee;
}

.App {
  display: flex;
  min-height: 100vh;
}

.left {
  width: 40vw;
  border-right: 1px solid #333a41;
  padding: 2rem;
}

.left h1 {
  margin-bottom: 2rem;
}

.right {
  width: 60vw;
  padding: 2rem;
}

.right h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  background-color: #4a545e;
  padding: 2rem;
  width: 500px;
  height: 500px;
  pointer-events: none;
  box-shadow: 0 0 0 10000px rgba(24, 24, 24, 0.7);
  z-index: 9999;
}

.popup .heading {
  font-size: 1.6rem;
}

.popup textarea {
  width: 300px;
  max-width: 350px;
  height: 200px;
}

.popup button {
  cursor: pointer;
  padding: 1rem 2rem;
}

/*--- Local storage left pane ---*/

.lsItemsWrap {
  display: grid;
  gap: 1rem;
}

.lsItem {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 1.5rem;
  background-color: #333a41;
  padding: 1rem;
  align-items: center;
}

.lsItem:hover {
  background-color: #4d5a66;
}

.lsItemText {
  display: grid;
  gap: .6rem;
}

.removeBtn {
  cursor: pointer;
  width: 15px;
  height: 15px;
  fill: white;
  background: #333a41;
}

/*-----Calendar styles-----*/

.datepicker-container {
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  height: fit-content;
  text-align: center;
  box-shadow: 3px 3px 15px #161616;
  color: #111;
}

.datepicker-dates {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.datepicker-header {
  background:linear-gradient(white, #cbcbcb);
}

.datepicker-dates .pick-year-select, .pick-month-select {
  padding: 5px 20px;
}

.datepicker-days-row {
  display: grid;
  grid-template-columns: repeat(7, auto);
  border-bottom: 1px solid #222;
  background: white;
}

.datepicker-days-row .day { 
  padding-block: 20px;
}

.date {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1;
  background: unset;
  color: white;
}

.date:hover {
  background: #74b5e3;
  color: black;
}

.date-range{
  display: grid;
  margin: 20px 0;
}

.monthWrap {
  display: grid;
  grid-template-columns:repeat(7, auto);
  background: #333a41;
  color: white;
}

.hide { display: none; }

.show { display: grid; }

.not-current-month { color:#999; }

.highlight-from, .highlight-to {
  position: relative;
  background: #74b5e3; 
  color: black;
}

.highlight-from::after {
  content:'';
  display: block;
  position: absolute;
  width: 0; height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #74b5e3;
  top: 14px; left: 100%;
}

.highlight-to::after {
  content:'';
  display: block;
  position: absolute;
  width: 0; height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #74b5e3;
  top: 13px; left: -8px;
}

.highlight-range { background:#eee; color:black; }
.today { border: 1px solid #999; }

@media screen and (max-width: 600px) {

  .form-container {
    width: 350px;
    padding-top: 20px;
  }

  .datepicker-form {
    padding: 1rem;
  }

  .input-wrap {
    display: grid;
  }

  .input-wrap svg {
    bottom: 10px;
  }

  .datepicker-container {
    top: 100px;
  }

}